@using IHFF_V2.Models;
@using IHFF_V2;
@{
    ViewBag.Title = "Index";
}
<div class="backend">
    @Html.ActionLink(linkText: "Voeg evenement toe",
                                 actionName: "Add",
                             controllerName: "Backend")<br /><br />

    @foreach (var eventItem in Model)
    {
        @eventItem.Titel;<br />
        @Html.ActionLink(linkText: "Bewerk evenement",
                                 actionName: "Edit",
                             controllerName: "Backend",
                            routeValues: new
                            {
                                Id = eventItem.Id
                            },
            htmlAttributes: null)
        <br />
        @Html.ActionLink(linkText: "Verwijder evenement",
                                 actionName: "Delete",
                             controllerName: "Backend",
                            routeValues: new
                            {
                                Id = eventItem.Id
                            },
            htmlAttributes: null)<br /><br />


    }
</div>