@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "ErrorInvoerOnjuist";
}

<hgroup class="title">
    <h1 class="error" id="error-text">Error.</h1>
    <h2 class="error" id="error-text">Er kan geen negatief (of null) aantal ingevoerd worden</h2>
</hgroup>

<button onclick="goBack()">Probeer Opnieuw</button>

<script>
function goBack() {
    window.history.back();
}
</script>