body {width:1000px; 
      margin: 0 auto;
    
}

#filminfo {
    background-color:green;
    height:300px;

}

#filminfo img {
    float:left;
    }

#fil


#filminfo .titel {font-size:25px;
                  
    }


