body {
    background-color:#2b343a;
    

    }

.Filminfo:nth-child(5n-4)::before 
{
    display: block;
    background-color:green;
    height:200px;
    width:200px;

    
}

.Filminfo {
    display: block;
    float: left;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
    margin-bottom: 10px;  
    height: 400px;
    overflow:hidden; 
    border-radius:10px;
    color:white;
    }

.Filminfo a 
{
    background-color:#35434C;
    width:100%;
    display: block;
    font-family: Calibri;
    text-decoration:none;
    color:white;
    font-size:1.3em;
    padding:10px;
    text-align:center;
    position:relative;
    bottom:20px;
    right:13px;       
    }

.Filminfo a:hover
{
    background-color:#8D0104;
}

h2 {
    margin-top:30px;  
}

#Filters
{
    position:fixed;
    width:150px; 
    left:0px;     
}


@media screen and (max-width: 1050px) {
    #Filters {
      position:absolute;
      top:50px;
      left:0px;
      width:100%;
      height:40px;
      margin-bottom: 10px;
      overflow:hidden;
    }

    #Filters a {
        float:left;
        display:inline-block;
        height:70px;
        margin-left:1px
    }
}

.catalogus
{
    margin: 0 auto;
    width: 1000px;
    background-color: red
}

#Filters a
{
    display:inline-block;
    font-family:Calibri;
    color:white;
    background-color:#35434C;
    padding:10px;
    list-style:none;
    text-decoration:none;
    border-color:white;
    width:100px;  
}

#Filters a:hover
{
    background-color:#8D0104;
}

ul 
{
    height:100px;
    list-style:none;
    padding:0px;  
}
li {
    /* overflow: hidden; */
    width: 136px;
}

footer {
  clear:both;
}

#Catalogus
{
    float:right;
}

#Filters a
{
    display:inline-block;
    font-family:Calibri;
    color:white;
    background-color:#35434C;
    padding:10px;
    list-style:none;
    text-decoration:none;
    border-color:white;
    width:100px;  
}

#Filters a:hover
{
    background-color:#8D0104;
}

ul 
{
    height:100px;
    list-style:none;
    padding:0px;  
}
li {
    /* overflow: hidden; */
    width: 136px;
}

footer {
  clear:both;
}

section.restinfo {
    display: block;
    float: left;
    margin-left: 8px;
    border-style: solid;
    border-color: #35434C;
    margin-bottom: 10px;
    height:325px;
    overflow: hidden;
    border-radius: 10px;
    width: 483px;
    align-items:center;
}

section.restinfo img
{
    width:100%;
    height:80%;
}

section.restinfo a 
{
background-color: #35434C;
width: 100%;
display: block;
font-family: Calibri;
text-decoration: none;
color: white;
font-size: 1.3em;
padding: 10px;
text-align: center;
position: relative;
bottom: 102px;
right: 13px;
height:45px;
line-height:2;
}

section.restinfo a:hover
{
    background-color:#8D0104;

}


p.titel {
position: relative;
bottom: 73px;
left:1px;
color: white;
font-family: Calibri;
font-size: 30px;
font-weight: bold;
}

p.titel {
}