body {
    background-color:#35434C;
}

.cart-item {
    clear: both;
    width: 600px;
    margin: auto;
}

.cart-item-poster {
    margin-right: 15px;
    float: left;
}

.cart-item-information {
    position: relative;
}

.film-poster {
    border-radius: 10px;
	border: 1px solid #123456;
    width: 150px;
    height: 200px;
}

.ticket-total-price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

#page-title {
    margin: auto;
    display: block;
    clear: both;
}

p {
    font-family: Arial;
    color: white;
}

a.plusbtn {
    color: white;
}

a.plusbtn:link{
    color: white;
}

a.plusbtn:visited{
    color: white;
}

a.plusbtn:hover{
    color: white;
}

a.plusbtn:active{
    color: white;
}

a.edit-btns, a:visited.edit-btns {
    color: white;

}

#to-payment{
    clear: both;
    margin: auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    clear: both;
    width: 400px;
}
