
#menu{
    list-style-type:none;
}
#menu{
    display: inline-block;
    margin:0;
    padding:0;
     /* For IE, the outcast */
    zoom:1;
    height:48px;
}
#menu li{
    float:left;
    height:100%;
    width:120px;
    line-height:48px;
}
#menu li a{
    text-decoration:none;
    color:white;
    font-family: Calibri;
    font-size:1.7em;
    display:block;
    border-width:1px;
    border-left-style:solid;
    border-color:white;
}
#menu li a:hover{
    background-color:#8d0104;
    transition:1s;
}
nav{
    text-align:center;
    height: 48px;
}
header{
    background-color:#35434C;
}
body{
    margin:0;
}
footer{
    background-color:#35434C;
    color:white;
    font-family:Calibri;
    text-align:center;
    height:60px;
}
#footer{
     display: inline-block;
    margin:0;
    padding:0;
     /* For IE, the outcast */
    zoom:1;
    height:60px;
}
#footer div{
    line-height:22px;
    float:left;
    height:100%;
    width:200px;
    padding-top:5px;
}
#footer div a{
    color:white;
    font-size:1.2em;
    text-decoration:none;
}
#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

/* helper css, since we don't have images */
.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}