
#menu{
    list-style-type:none;
}
#menu{
    display: inline-block;
    margin:0;
    padding:0;
     /* For IE, the outcast */
    zoom:1;
    height:48px;
}
#menu li{
    float:left;
    height:100%;
    width:120px;
    line-height:48px;
}
#menu li a{
    text-decoration:none;
    color:white;
    font-family: Calibri;
    font-size:1.7em;
    display:block;
    border-width:1px;
    border-left-style:solid;
    border-color:white;
}
#menu li a:hover{
    background-color:#8d0104;
    transition:1s;
}
nav{
    text-align:center;
    height: 48px;
}
header{
    background-color:#35434C;
}
body{
    margin:0;
}
footer{
    background-color:#35434C;
    color:white;
    font-family:Calibri;
    text-align:center;
    height:60px;
}
#footer{
     display: inline-block;
    margin:0;
    padding:0;
     /* For IE, the outcast */
    zoom:1;
    height:60px;
}
#footer div{
    line-height:22px;
    float:left;
    height:100%;
    width:200px;
    padding-top:5px;
}
#footer div a{
    color:white;
    font-size:1.2em;
    text-decoration:none;
}
.slider-holder
        {
            width: 800px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 2400px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
.genre-wrapper{
    width:100%;
    height:500px;
    background-color:#35434C;
    color:white;
    font-family:Calibri;
    margin-top:20px;
    text-align:center;
}
.genre{
    float:left;
    width:250px;
}
.genre-block{
    display:inline-block;
    margin-top:20px;
}
